body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

.forgot-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to top,
    #56ab2f,
    #a8e063
  ); /* Turf green gradient */
}

.forgot-card {
  background: #ffffff;
  padding: 40px 35px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}

.turf-logo {
  width: 80px;
  margin-bottom: 15px;
}

.forgot-title {
  font-size: 26px;
  color: #27ae60;
  margin-bottom: 10px;
  font-weight: 700;
}

.forgot-subtitle {
  font-size: 14px;
  color: #555;
  margin-bottom: 20px;
}

.forgot-form {
  display: flex;
  flex-direction: column;
}

.forgot-input {
  padding: 14px;
  margin: 12px 0;
  border: 2px solid #27ae60;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

.forgot-input:focus {
  border-color: #1e8449;
}

.forgot-button {
  padding: 14px;
  margin-top: 15px;
  background-color: #27ae60;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.forgot-button:hover {
  background-color: #1e8449;
  transform: scale(1.05);
}
